In [22]:
import numpy as np
import pandas as pd
import cv2

# Median Filter

In [23]:
original = [
    [6, 6, 6, 6, 6, 6, 6, 6, 6],
    [6, 2, 6, 1, 3, 1, 6, 6, 6],
    [6, 6, 6, 1, 1, 1, 6, 6, 6],
    [6, 1, 1, 7, 1, 1, 1, 1, 6],
    [6, 1, 1, 1, 1, 6, 1, 5, 6],
    [6, 1, 6, 1, 1, 1, 1, 1, 6],
    [6, 6, 6, 1, 1, 1, 6, 6, 6],
    [6, 6, 6, 1, 1, 1, 6, 6, 6],
    [6, 6, 6, 6, 6, 6, 6, 6, 6]
]

original = np.array(original)

In [24]:
def median_filter(original, neighborhood_size):

    # Pad the original image with zeros
    padded = np.pad(original, neighborhood_size // 2, mode='constant', constant_values=0)

    # Create a new image with the same size as the original
    new_image = np.zeros(original.shape)

    start, end = neighborhood_size // 2, original.shape[0] - neighborhood_size // 2

    # Iterate over the original image
    for i in range(start, end):
        for j in range(start, end):
            # Get the neighborhood
            neighborhood = padded[i:i+neighborhood_size, j:j+neighborhood_size]

            # Get the median value of the neighborhood
            new_image[i, j] = np.median(neighborhood)

    new_image = new_image.astype(int)

    # Edge cases
    new_image[0, :] = original[0, :]
    new_image[-1, :] = original[-1, :]
    new_image[:, 0] = original[:, 0]
    new_image[:, -1] = original[:, -1]

    return new_image

In [25]:
result = median_filter(original, 3)

In [26]:
result.astype(int)
df = pd.DataFrame(result)
df

   0  1  2  3  4  5  6  7  8
0  6  6  6  6  6  6  6  6  6
1  6  6  6  6  1  6  6  6  6
2  6  6  2  1  1  1  1  6  6
3  6  6  1  1  1  1  1  6  6
4  6  1  1  1  1  1  1  1  6
5  6  6  1  1  1  1  1  6  6
6  6  6  6  1  1  1  1  6  6
7  6  6  6  6  1  6  6  6  6
8  6  6  6  6  6  6  6  6  6

In [27]:
cv2.imwrite('4.png', result * 32)

True

In [28]:
cv2.imwrite('4_or.png', original * 32)

True