In [1]:
import cv2
import pandas as pd
import numpy as np

In [2]:
original = [
    [4, 6, 5, 8, 9, 7, 5],
    [7, 1, 7, 4, 5, 1, 4],
    [4, 9, 14, 5, 14, 8, 6],
    [6, 4, 6, 14, 7, 9, 5],
    [9, 9, 14, 8, 14, 6, 7],
    [8, 1, 4, 6, 5, 1, 9],
    [6, 4, 7, 6, 5, 9, 8]
]

original = np.array(original)

In [7]:
def piecewise_linear(original):

    # Numpysize
    size = original.shape[0]

    result = np.zeros((size, size))

    for i in range(size):
        for j in range(size):
            gray = original[i][j]

            if (gray <= 4):
                result[i][j] = -3 * gray + 14
            elif (gray >= 9):
                result[i][j] = 2 * gray - 16
            else:
                result[i][j] = 2
    
    return result

In [8]:
result = piecewise_linear(original)

In [9]:
df = pd.DataFrame(result)

In [10]:
df

     0     1     2     3     4     5    6
0  2.0   2.0   2.0   2.0   2.0   2.0  2.0
1  2.0  11.0   2.0   2.0   2.0  11.0  2.0
2  2.0   2.0  12.0   2.0  12.0   2.0  2.0
3  2.0   2.0   2.0  12.0   2.0   2.0  2.0
4  2.0   2.0  12.0   2.0  12.0   2.0  2.0
5  2.0  11.0   2.0   2.0   2.0  11.0  2.0
6  2.0   2.0   2.0   2.0   2.0   2.0  2.0

In [11]:
cv2.imwrite('6.jpg', result * 32)

True